@model List<MantenimientoModel>
@{
    ViewData["Title"] = "Mantenimientos";
}

<h1>Mantenimientos</h1>
<div class="container p-4">
    <div class="form-group">
        <form asp-area="Mantenimiento" asp-controller="Mantenimiento" asp-action="Mantenimiento" method="get">
            <div class="row">
                <div class="form-group">
                    <div class="col-md-12">
                        <input type="text" id="filtrar" name="filtrar" placeholder="Buscar Mantenimiento" class="form-control" autocomplete="off"/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-4">
                        <input type="submit" value="Buscar" class="btn btn-success">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-4">
                        <a class="btn btn-success" asp-area="Mantenimiento" asp-controller="Mantenimiento" asp-action="Mantenimiento">Todos</a>
                    </div>
                </div>
            </div>
        </form><br />
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-xs-6 col-md-2">
                    <div class="card text-center">
                        <div class="card-header ">
                            @{
                                string pathImg = item.pathImg;
                            }
                            <img class='imageUsers' src="~/lib/Image/@pathImg" />
                        </div>
                        <div class="card-body text-center">
                            <table class="tableCursos">
                                <tbody>
                                    <tr>
                                        <td>
                                            <div class="text-center">
                                                <strong>Mantenimiento</strong>
                                                <strong>@item.nombre</strong>
                                            </div><br />
                                            <a asp-area="Mantenimiento" asp-page="/Co_Requesitos/RegistrarCo_Requesitos">
                                                <input type="submit" value="Registrar" class="btn btn-primary ">
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a asp-area="Mantenimiento" asp-page="/Account/Details">
                                                <input type="submit" value="Listado" class="btn btn-success ">
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
</div>
